body {  /*targeting body element*/
  background-color: #f8ef02; /*setting background to yellow*/
}

h1 { /*targeting h1 element*/
  text-align: center; /*centering text*/
  font-family: Arial, Helvetica, sans-serif; /*changing font for readability*/
  margin-bottom: 10px; /*setting bottom margin for spacing*/
  text-shadow: 0 0 10px #630ff6, 0 0 20px #630ff6, 0 0 30px #630ff6; /*text shadow for glow effect*/
  color: #00ffd2; /*text color for neon cyberpunk feel*/
  background-color: black; /*setting background to black to avoid text/body-background color clashing*/
}

h3 {
  text-decoration: underline; /*underline for emphasis*/
  font-weight: bolder; /*bolder for emphasis/readability*/
  font-family: Arial, Helvetica, sans-serif; /*changing font for readability*/
}

.game-form {
  text-align: center; /*aligning text to center*/
  font-family: Arial, Helvetica, sans-serif; /*changing font for readability*/
  margin-bottom: 10px; /*setting bottom margin for spacing*/

}

.btn { /*targeting all buttons*/
  background-color: #2f2f2f; /*background color*/
  color: #00ff55; /*neon green text color*/
  border: 1px solid #00ff55; /*neon green border*/
  font-family: 'Courier New', monospace; /*different font to give cyberpunk feel*/
  cursor: pointer; /*changing courser on hovor*/
  transition: background-color 0.3s, color 0.3s; /*smoothing transition on color change*/
  max-width: 155px;
}

input {
  background-color: #ffffff; /*background color*/
}

.game-container {
  border: 2px solid black; /*border for readability*/
  margin-bottom: 10px; /*bottom margin*/
}

ul {
  border: 2px solid darkgrey; /*border for readability*/
  margin-top: 10px; /*top margin*/
}

.review-label {
  font-size: 18px;
}